{{extend 'layout.html'}}
{{for v in usersettingsdb}}
        <h1>User Settings</h1>
        <p>{{=v.user_id}}</p>
        <p>{{=v.background_image}}</p>
        <p>{{=v.refresh_interval}}</p>
        <p>{{=v.post_width}}</p>