<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
html,body {
	width: 100%;
    height:100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
	position: relative;
	background-color: #555;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
	word-spacing: 0em;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	z-index: 10;
}
.help-block {
    color:white;
    font-size: small;
}
</style>
</head>
<body>
<p style="color:#666">
    {{for s in reversed(pastsearches):}}
        {{if s < 2000:}}
            #{{=s.search_string}}
        {{pass}}
    {{pass}}
</p>
<div class="content" style="text-align: center; margin: 0;">
    <table width="93%" border="0">
  <tr>
    <td width="48%" style="text-align:center"><img src="http://i.imgur.com/jGdhhGe.png" width="300" />
    <h1 style="text-align:center; padding-left: 30px; padding-top: 10px;">Change Settings</h1>
    
    </td>
    <td width="48%">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
     {{=form}}
    </td>
  </tr>
</table>

</div>
</div>
</body>
</html>
