<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OpenHashBoard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
body {
	position: relative;
	background-color: #555;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
	font-size: xx-large;
	word-spacing: 0em;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	z-index: 10;
}
#signout {
	
}
#signin {
    display:none;
}
#settingsprepage {
    display:none;
}
#settingsoauth {
    display:none;
}
#settingsuser {

}
</style>
</head>
<body>
<p style="color:#666">
    {{for s in reversed(pastsearches):}}
        {{if s < 2000:}}
            #{{=s.search_string}}
        {{pass}}
    {{pass}}
</p>
<div class="content">
    <img src="http://i.imgur.com/jGdhhGe.png" style="width:70%; max-width:400px;" />
    <h1>OpenHashBoard</h1>
	{{if auth.user_id is None:}}
	<!-- Logged out -->
	<div id="signout">
					<p>
					{{=A('Sign In', _class='btn btn-default', _href=URL('default', 'user', args=['login']))}}
					{{=A('Sign Up', _class='btn btn-primary', _href=URL('default', 'user', args=['register']))}}
					</p>
					</div>
	{{else:}}
	<div id="signin"> 
		<p><input name="search" type="text" style="color: black; vertical-align:middle;" placeholder="Search for a Tag Here"/></p>
		<p> <button type="button" class="btn  btn-default">Search</button>
			<button type="button" class="btn btn-warning"><i class="fa fa-cog"></i> Settings</button>
		</p>
        <table width="100%" border="0" style="font-weight: lighter">
          <tr>
            <td width="40%" style="text-align:center">
                <bold><h3>Past Hashtag</h3></bold>
                <p style="font-size: medium">
                {{for s in reversed(pastsearches):}}
                    {{if s.user_id == auth.user_id:}}
                        #{{=s.search_string}}
                        <br>
                    {{pass}}
                {{pass}}
                </p>
            </td>
            <td width="40%" style="text-align:center">
                <h3>Favorite Hashtag</h3>
                <p style="font-size: medium;">
                {{for s in reversed(pastsearches):}}
                    {{if s.user_id == auth.user_id and s.favorite == True:}}
                        #{{=s.search_string}}
                        <br>
                    {{pass}}
                {{pass}}
                </p>
            </td>
          </tr>
        </table>





    </div>
	<div id="settingsprepage"><p>
		<a href={{=URL('default', 'boardsettings', user_signature=True)}}><button type="button" class="btn btn-primary"><i class="fa fa-eye"></i>&nbsp;&nbsp;&nbspCustomize Board View</button></a>
		<p><button type="button" class="btn btn-primary"><i class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;Set OAUTH Tokens</button></p>
        <p><button type="button" class="btn btn-danger"><i class="fa fa-cogs"></i>&nbsp;&nbsp;&nbsp;User Settings</button></p>
		<p><button type="button" class="btn btn-danger"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Log Out</button></p>
		<p><button type="button" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Back</button>
		</p></div>
	<div id="settingsoauth">
		<p><button type="button" class="btn btn-primary"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Get Twitter OAUTH Token</button></p>
		<p><button type="button" class="btn btn-warning"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back</button>
		</p></div>
    <div id="settingsuser">
		<a href={{=URL('default', 'user', args=['profile'])}}><p><button type="button" class="btn btn-primary"><i class="fa fa-eye"></i>&nbsp;&nbsp;&nbsp;Change Profile Settings</button></p></a>
		<a href={{=URL('default', 'user', args=['change_password'])}}><p><button type="button" class="btn btn-danger"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Change Password</button></p></a>
        <p><button type="button" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
	{{pass}}
</div>
</body>
</html>
